<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/newRecipe.css">
</head>

<body>
    <header id="header" class="container-fluid row">
        <h1 class="col-6">Culinary Canvas</h1>
        <nav id="nav" class="col">
            <a href="/">Home</a>
            {{#if loggedIn}}
            <button id="logout">Logout</button>
            <button id="profile">Profile</button>
            {{else}}
            <a href="login">Login</a>
            {{/if}}
        </nav>
    </header>
    <main>
        <div>
            {{{body}}}
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

</html>