<section id="profile_constainer">
<h2 id="profile_container">Modify your Profile</h2>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" />
    <button type="submit">Upload</button>
</form>
<form id="profile_form">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required>

    <label for="last_name">Last Name:</label>
    <input type="text" id="Last_name" name="Last_name" required>

    <label for="birthday">Birthday:</label>
    <input type="date" id="birthday" name="birthday" required>

    <label for="bio">Bio:</label>
    <textarea id="bio" name="bio"></textarea>

    <input type="submit" value="Submit">
</form>
</section>

