header, .project:not(:last-child) {
    border-bottom: 1px solid #a8cdb6;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #568956;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #068329;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }